body{
    background-image: radial-gradient(circle at 50%  -20.71%, #a6ffa7 0, #90ffab 12.5%, #76ffb0 25%, #54ffb5 37.5%,
    #71ac9b 50%, #00fbc2 62.5%, #00f8ca 75%, #00f4d3 87.5%, #00f1dc 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
}

*{
    font-family: 'Lato', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'PT Sans', sans-serif;
    box-sizing: border-box;
}

form{
    width: 900px;
    border: 2px solid black;
    padding: 6rem;
    background-color: black;
    border: none;   
    border-radius: 20px;
    color: aliceblue;
}

h1{
    display: block;
    border: 2px solid black;
    width: 95%;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
}

h2{
    display: block;
    border: 2px solid black;
    width: 90%;
    padding: 5px;
    margin: 10px;
    border-radius: 10px;
    font-size: 15px;
}

label{
    color: aliceblue;
    font-size: 18px;
    padding: 10px;
    font-weight: 300;
}

input{
    display: block;
    border: 2px solid black;
    width: 30%;
    padding: 20px;
    margin: 10px;
    border-radius: 10px;
}

button{
    float: right;
    background-color: #00f1dc;
    padding: .5rem;
    color: white;
    border: none;
    width: 40%;
    border-radius: 5px;
    margin-right: 10px;
}

button:hover{
    background-color: white;
    color: black;
}

a{
    float: left;
    margin-left: 10px;
    padding: .5rem;
    text-decoration: none;
}

a:hover{
    background-color: white;
    color: black;
}

.error{

    background-color: rgb(136, 66, 66);
    color: black;
    padding: 10px;
    width: 95%;
    border-radius: 5px;
    margin: 20px auto;
}